registry=https://registry.npmjs.org/

@cars24:registry=https://asia-south1-npm.pkg.dev/bikes-272910/ui-libs/
@cspl:registry=https://asia-south1-npm.pkg.dev/bikes-272910/turbo-ui/
//asia-south1-npm.pkg.dev/bikes-272910/ui-libs/:always-auth=true
//asia-south1-npm.pkg.dev/bikes-272910/turbo-ui/:always-auth=true

@cspl-cars24:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${NPM_TOKEN}
